* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  text-align: center;
  background: linear-gradient(
    rgba(5, 104, 224, 0.616),
    rgba(5, 104, 224, 0.489)
  );
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
}

.category {
  padding: 2rem;
}

.category-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.company-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.company-card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.company-card:hover {
  transform: scale(1.02);
}

.company-card img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  object-fit: cover;
}

.domain {
  background: #86c7ed;
  color: white;
  width: fit-content;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  font-size: 0.9rem;
}

.details {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.progress-bar {
  width: 100%;
  height: 1rem;
  background: #d7d7d7d6;
  border-radius: 1rem;
}

.progress {
  height: 100%;
  background: #86c7ed;

  border-radius: 1rem;
}
