* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
}

.parent-div {
  height: 100%;
  width: 100%;
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
/* .nav-div {
} */
.navbar {
  height: 60px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 10px;
}
.nav-a-div {
  width: 20%;
  padding: 10px;
}

.notify-div {
  height: 20px;
  padding: 2px;
  background-color: #86c7ed;
  color: #f4f4f4;
}

.end-a-div {
  width: 85%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.end-b-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
}

.txt-p {
  width: 300px;
}

.border {
  border: 1px solid #000;
}
.o-pad {
  padding: 10px;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-c-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 150px;
  /* width: 150px; */
}
/* .width-600 {
  width: 800px;
  padding: 5px;
}
.width-500 {
  width: 500px;
}
.width-300 {
  width: 300px;
  padding: 5px;
} */

a {
  text-decoration: none;
  color: inherit;
}

.header-main {
  height: 500px;
  width: 100%;
  background-image: url("../assets/cover-main.jpg");
  background-size: cover;
  background-position: center;
  padding-left: 50px;
  /* overflow-x: hidden; */
  display: flex;
  justify-content: start;
  /* opacity: 0.5; */
}

.header-overlay {
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 50px; */
  gap: 20px;
}

.card {
  width: 450px;
  color: #f4f4f4;
  background: #0000005f;
  border-left: 5px solid #86c7ed;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card button {
  padding: 10px 20px;
  border: none;
  background-color: #86c7ed;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 16px;
}

.slider-cards-div {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.card-slider-1 {
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 5px;
  border-left: 5px solid #86c7ed;
  background-color: rgba(230, 230, 230, 0.4);
  padding: 10px;
}

.icon-div {
  width: 40px;
  height: 40px;
  background: #86c7ed;
  color: #f4f4f4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worker-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.work-img {
  width: 30%;
  padding: 5px;
}
.work-img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.worker-info {
  padding: 5px;
  height: 400px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.people-button {
  padding: 10px 20px;
  border: none;
  background-color: #86c7ed;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.problem-parent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.problems-info {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.problem-card {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;

  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.356);
}

.problem-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.problem-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.view-all {
  padding: 10px 20px;
  border: none;
  background-color: #86c7ed;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

.client-review-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-review-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 20px;
}

.review-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.client-h {
  display: flex;
  justify-content: flex-start;
}

.review-card {
  height: 180px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-left: 5px solid #86c7ed;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.4);
}

.person-div {
  border: 2px solid red;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.person-img {
  border: 1px solid blue;
  width: 30%;
  padding: 5px;
}
.person-img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.person-info {
  border: 1px solid green;
  padding: 5px;
  height: 400px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-button button {
  background-color: #86c7ed;
  color: #f4f4f4;
}

.detail-div {
  border: 1px solid black;
}
