* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
}

.parent-div {
  height: 100%;
  width: 100%;
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.navbar {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.mh-logo {
  width: 25%;
}

.mh-logo img {
  width: 85%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 50%;
  padding: 0.625rem;
  font-size: large;
}

.nav-links a:hover {
  color: #86c7ed;
}

.nav-links a.active {
  color: #86c7ed;
}

.nav-a-div {
  width: 25%;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.worker-a {
  color: #86c7ed;
  font-size: large;
}
.icons-div {
  display: flex;
  gap: 1rem;
  padding: 0.625rem;
  align-items: center;
}

.navbar-menu {
  display: none;
  cursor: pointer;
}

.notify-div {
  height: 1.25rem;
  padding: 0.125rem;
  background-color: #86c7ed;
  color: #f4f4f4;
}
.notify-div p {
  margin: 0;
}
.end-a-div {
  width: 100%;
  height: 2.875rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3.5rem;
  font-size: medium;
  gap: 1rem;
}

.end-b-div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.txt-p {
  width: 18.75rem;
}

.border {
  border: 0.25rem solid #ae1b1b;
}

.o-pad {
  padding: 0.625rem;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-c-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 10rem;
  width: 15rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-main {
  height: 31.25rem;
  width: 100%;
  background-image: url("../assets/cover-main.jpg");
  background-size: cover;
  background-position: center;
  padding-left: 3.125rem;
  display: flex;
  justify-content: start;
}

.header-overlay {
  height: 31.25rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.card {
  width: 28.125rem;
  color: #f4f4f4;
  background: #0000005f;
  border-left: 0.3125rem solid #86c7ed;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.button-div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card button {
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #86c7ed;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.outer-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.slider-cards-div {
  height: 18.75rem;
  width: 85%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem;
}
.slide-inner-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.625rem;
  width: 100%;
}
.swiper {
  margin: 0;
}

.card-slider-1 {
  width: 17.5rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  border-left: 0.3125rem solid #86c7ed;
  background-color: #ebedf0;
  padding: 0.625rem;
}

.icon-div {
  width: 2.5rem;
  height: 2.5rem;
  background: #86c7ed;
  color: #f4f4f4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.worker-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.work-img {
  width: 32%;
  padding: 0.3125rem;
}

.work-img img {
  height: 25rem;
  width: 100%;
  border-radius: 0.3125rem;
  object-fit: cover;
}

.worker-info {
  padding: 0.3125rem;
  /* height: 25rem; */
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.people-button {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #86c7ed;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  width: 9.375rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.problem-parent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.25rem;
}

.problems-info {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
}

.problem-card {
  height: 25rem;
  width: 21.875rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  gap: 0.625rem;
  border: 1px solid rgba(202, 202, 202, 0.747);
}

.problem-img {
  height: 18.75rem;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  object-fit: cover;
}

.problem-details {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  padding-left: 0.3125rem;
}

.view-all {
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #86c7ed;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 1rem;
  width: 9.375rem;
  border-radius: 0.25rem;
}

.client-review-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 2rem;
  width: 100%;
}

.client-h {
  display: flex;
  justify-content: flex-start;
  padding: 1.25rem;
  width: 85%;
}

.outer-review {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}
.swiper-btn-prev,
.swiper-btn-next {
  position: relative !important;
  background: #ebedf0;
  border-radius: 50%;
  color: #86c7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}

.swiper-button-nxt,
.swiper-button-prv {
  position: relative !important;
  background: #ebedf0;
  border-radius: 50%;
  color: #86c7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}

.review-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.25rem;
}
.service-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.25rem;
}

.review-card {
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem;
  border-left: 0.3125rem solid #86c7ed;
  border-radius: 0.3125rem;
  background-color: #ebedf0;
}

.wrapper-border {
  border: 2px solid green;
}

.person-div {
  background: #ebedf0;
  padding: 0.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
}

.person-img {
  width: 40%;
  padding: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-img img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.person-info {
  padding: 1rem;
  height: 25rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.input-button button {
  background-color: #86c7ed;
  color: #f4f4f4;
  height: 2rem;
  width: 2.5rem;
  border: none;
}

.detail-div {
  width: 16rem;
  background: #ffffff;
  padding: 0.625rem;
  display: flex;
  gap: 0.3125rem;
  flex-direction: column;
  height: 10rem;
}

.input-cl {
  width: 13rem;
  height: 2rem;
  background: #ffffff;
  border: none;
  padding: 0.3125rem;
}

.footer-div {
  background: #1836b2;
  padding: 0.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}

.footer-div-1 {
  width: 80%;
  height: 15rem;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.footer-card {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  gap: 1rem;
}
.a-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-div-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .problems-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .work-img img {
    height: 32rem;
  }
  .nav-a-div {
    display: flex;
    gap: 1rem;
    width: 35%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  /*
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem; 
  }*/

  /* .nav-links,
  .nav-a-div {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  } */

  .nav-a-div,
  .nav-links {
    display: none;
  }

  .navbar-menu {
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider-cards-div {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .card-slider-1 {
    width: 100%;
    max-width: 25rem;
  }

  .worker-div {
    flex-direction: column;
  }

  .work-img,
  .worker-info {
    width: 90%;
  }

  .problems-info {
    grid-template-columns: 1fr;
  }

  .problem-card {
    width: 100%;
  }

  .review-container {
    flex-direction: column;
    align-items: center;
  }

  .review-card {
    width: 100%;
    max-width: 25rem;
  }

  .person-div {
    flex-direction: column;
  }

  .person-img,
  .person-info {
    width: 90%;
  }
  .person-info {
    align-items: center;
  }
  .end-a-div {
    display: none;
  }
  .swiper-btn-next,
  .swiper-btn-prev,
  .swiper-button-nxt,
  .swiper-button-prv {
    display: none;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  .nav-a-div,
  .nav-links {
    display: none;
  }

  .navbar-menu {
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-main {
    padding-left: 1rem;
  }

  .card {
    width: 90%;
  }

  .end-a-div {
    display: none;
  }
  .end-b-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-container {
    width: 80%;
  }

  .footer-div-1 {
    width: 100%;
    height: 15rem;
    border-bottom: 1px solid white;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
  }
  .footer-card {
    font-size: small;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    padding: 0;
    box-sizing: border-box;
    padding-left: 0.12rem;
  }
  .a-child {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .person-info {
    align-items: center;
  }
  .swiper-btn-next,
  .swiper-btn-prev,
  .swiper-button-nxt,
  .swiper-button-prv {
    display: none;
  }
}

/* 
*/
