* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.header {
  background: linear-gradient(
    rgba(5, 104, 224, 0.616),
    rgba(5, 104, 224, 0.489)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.8rem;
}

.header p {
  font-size: 1.1rem;
  opacity: 0.8;
}

.outer-sec-container {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.category-section {
  width: 100%;
  background: white;
  border-radius: 0.625rem;
  padding: 2rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.category-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid #e9ecef;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.worker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2rem;
}

.worker-card {
  background-color: white;
  border-radius: 0.625rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.1rem solid #b2b2b21d;
}

.worker-card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.15);
}

.worker-photo {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  border-bottom: 0.1875rem solid #86c7ed;
}

.workers-info {
  width: 100%;
  padding: 0.5rem;
}

.worker-name {
  font-size: 1.5rem;
}

.worker-role {
  font-size: 1.1rem;
  color: #ff7f5fe4;
  font-weight: 600;
}

.worker-details li {
  padding: 0.5rem 0;
  border-bottom: 0.0625rem solid #eee;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.worker-details li:last-child {
  border-bottom: none;
}

.worker-details i {
  color: #86c7ed;
  width: 1.25rem;
}

.worker-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.3rem;
}

.skill-tag {
  background-color: #86c7ed;
  color: whitesmoke;
  padding: 0.3125rem 0.75rem;
  border-radius: 1.25rem;
  font-size: 0.85rem;
  font-weight: 500;
}
